{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Сеть ресторанов «Окинава» предлагает доступно заказать самые лучшие роллы и суши в Казани. Благодаря нам Вы можете наслаждаться невероятным вкусом свежеприготовленных блюд, не выходя из дома и Вам не придется тратить своё время на кухне. Профессиональные повара готовят только из качественных продуктов, а служба доставки оперативно доставит вкусную еду на дом или в офис в кротчайшие сроки. "Окинава" это вкусно, быстро и доступно.
<ul>
    <li><p><b>9</b> уютных ресторанов по Казани, с кухней, работающей на доставку общей площадью 1400 кв.м</p></li>
    <li><p><b>130</b> Автомобилей в нашем автопарке, которые ежедневно максимально быстро доставляют Вам еду</p></li>
    <li><p><b>350</b> Профессиональных сотрудника нашей компании, которые ежедневно делают все, чтобы Вы могли вкусно кушать в наших заведениях.</p></li>
    <li><p><b>200 000</b> В год мы производим свыше 200 000 килограмм одних только ролл!</p></li>
    <li><p><b>1 000 000</b> Свыше 1 000 000 довольных клиентов в год, обслуживают наши рестораны и служба доставки</p></li>
</ul>
<h4>Впечатляющий ассортимент</h4>
<p>Наше меню включает:</p>
<ul>
    <li>классические и оригинальные виды суши с угрем, окунем, икрой тобико, лососем, тунцом, тигровой креветкой, курицей и пр.;</li>
    <li>разнообразные классические роллы (рисом внутрь) и урамаки (рисом наружу), в том числе острые, запеченные, горячие;</li>
    <li>аппетитные сеты для романтического ужина или вечеринки в большой компании.</li>
    <li>Помимо блюд японской кухни мы с радостью приготовим для вас экзотические воки с разными начинками, ароматную пиццу, горячие и холодные супы, свежие и сытные салаты, нежные десерты.</li>
</ul>
<p>Чтобы заказать суши и другую еду, зайдите в раздел «Меню». Каждый товар сопровождается фотографией, указанием состава ингредиентов, веса порции и стоимости. Кликните «Добавить в корзину» возле понравившихся суши. Скорректируйте количество порций и введите контактные данные.</p>

<h4>Как мы работаем</h4>
<ul>
    <li>Повара начинают готовить еду только после вашего звонка.</li>
    <li>Мы используем только отборные, свежие продукты.</li>
    <li>Готовим суши по фирменной рецептуре.</li>
    <li>Недорогие, но щедрые порций свежих блюд.</li>
    <li>Регулярно проводим акции.</li>
    <li>Гарантируем доставку еды с соблюдением всех технологий транспортировки, чтобы вы всегда получали свежие и теплые блюда.</li>
    <li>Располагаем собственным автопарком из 130 машин, что позволяет максимально оперативно развозить заказы по всему городу.</li>
    <li>При покупке от 600 рублей доставляем еду за свой счет.</li>
    <li>Возможен самовывоз из удобного для вас ресторана нашей сети.</li>
    <li>Мы первыми в Казани открыли службу доставки суши на дом или в офис и остаемся лидерами в этой сфере!</li>
</ul>
</p>
{% endblock %}
